$completeClr: #5d3ebc;

.task-container {
    background-color: rgba(0,0,0,0.4);
    &::placeholder {
        color: #fff;
    }
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    cursor: pointer;

    &:hover{
        border-left: 6px solid #f4cc25;
        transform: translateX(10);
        transition: all 150ms;
    }
}

.task-title {
    cursor: pointer;
}

.remove-task-button,
.see-task-details-button {
    border: none;
    background-color: transparent;
    &::placeholder {
        color: #fff;
    }
    font-size: 20px;
    color: #f4cc25;
    margin: 0 5px;
    cursor: pointer;
}

.MuiCheckbox-colorSecondary {
    color: #f4cc25 !important;
}

.MuiInputBase-root,
.MuiFormControlLabel-label
{
    color: rgb(46, 46, 46) !important;
    
    *{
        border: none !important;
        box-shadow: none !important;
        outline: none;
        outline-color: transparent;
    }
}

.MuiInput-underline {
    border-bottom-style: none !important;
}

.MuiSelect-iconOutlined{
    display: none !important;
}

.buttons-container{
    display: flex;
}